.modal {
     padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 0 0 10px;
    width: 396px;
}
.header {
  background-color: #5f0a8a;
  color: white;
  text-align: start;
  padding: 1px 20px;
 }
.content {
  text-align: start;
  padding: 5px 20px;
}


.actions{
  padding:5px;
  text-align: end;
}
 
button {
  background-color: #5f0a8a;
  color: white;
  padding: 5px 20px;
  border: none;
}